# Framework Principal
django>=4.2,<5.1

# Driver do PostgreSQL
psycopg2-binary>=2.9

# Gerenciamento de variáveis de ambiente
django-environ>=0.11.2

# Servidor para produção
gunicorn>=21.2.0