# Framework Principal
django>=4.2,<5.1

# Gerenciamento de variáveis de ambiente (segurança para senhas e chaves)
django-environ>=0.11.2

# Servidor de produção pronto para containers (opcional, ótimo para o Docker)
gunicorn>=21.2.0